/* Styling for doc header*/

header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #CCCCCC;
}

/* Styling for logo placed at top left corner of page */

.logo {
    background-image: url("../images/logo.png");
    background-size: contain;
    position: absolute;
    left: 20px;
    width: 136px;
    height: 60px;
}
